{% set author_info = post['root'].author_info() %}
{% set img_url = post['root'].img_url() %}

<div class="media bg-white border rounded-right p-2 mt-3">
    <a href="{{ author_info['url'] }}">
        <img class="mr-3 rounded-circle" src="{{ post['root'].author_avatar_url() }}" alt="Author" style="width: 32px; height: 32px">
    </a>
    <div class="media-body">
        <div style="min-height: 30px;">
            {{ post['root'].text | safe }}<br>
            {% if img_url is not none %}
                <img class="rounded mt-1" src="{{ img_url }}" alt="Post image" style="max-height: 200px"><br>
            {% endif %}
        </div>
        <div class="mt-2">
            <span class="badge badge-pill badge-primary">{{ post['root'].timestamp }}</span>
            <a href="{{ author_info['url'] }}">
                <span class="badge badge-pill badge-primary">{{ author_info['login'] | safe }}</span>
            </a>
            <small class="float-right">
                <a href="#" post-id="{{ post['root'].id }}" data-toggle="modal" data-target="#add_post_form" data-post-id="{{ post['root'].id }}">Reply</a>
            </small>
        </div>

        {% include  '_comments.html' %}
    </div>
</div>
