{% set author_info = post.author_info() %}
{% set img_url = post.img_url() %}

<div class="media border border-secondary rounded-right p-2 mt-3">
    <a href="{{ author_info['url'] }}">
        <img class="mr-3 rounded-circle" src="{{ post.author_avatar_url() }}" alt="Author" style="width: 64px; height: 64px">
    </a>
    <div class="media-body">
        <div style="min-height: 30px;">
            {{ post.text }}<br>
            {% if img_url is not none %}
                <img class="rounded mt-1" src="{{ img_url }}" alt="Post image" style="width: 100%;"><br>
            {% endif %}
        </div>
        <div class="mt-2">
            <span class="badge badge-pill badge-primary">{{ post.timestamp }}</span>
            <a href="{{ author_info['url'] }}">
                <span class="badge badge-pill badge-primary">{{ author_info['login'] }}</span>
            </a>
        </div>
    </div>
</div>