{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="col-5 alert alert-light alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="row justify-content-center">
        <form class="col-5" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="login">{{ form.login.label }}</label>
                {{ form.login(class='form-control', size=32, **{'aria-describedby':'login_errors'}) }}
                <small id="login_errors" class="form-text text-danger">
                    {% for error in form.login.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </small>
            </div>
            <div class="form-group">
                <label for="password">{{ form.password.label }}</label>
                {{ form.password(class='form-control', size=32, **{'aria-describedby':'password_errors'}) }}
                <small id="password_errors" class="form-text text-danger">
                    {% for error in form.password.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </small>
            </div>
            <div class="form-check">
                {{ form.remember_me() }}
                <label class="form-check-label" for="remember_me">{{ form.remember_me.label }}</label>
            </div>
            {{ form.submit(class='btn btn-primary') }}
        </form>
    </div>
</div>
{% endblock %}
