{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block content %}
<div class="container mt-5">
    {% include '_flash.html' %}

    <div class="row justify-content-center">
        <form class="col-5" action="" method="post">
            {{ form.hidden_tag() }}
            {{ macros.render_field(form.login, with_label=True) }}
            {{ macros.render_field(form.password, with_label=True) }}
            {{ macros.render_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}
