{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8 row bg-white rounded pt-4 pb-4">
            <div class="col-4">
                <img id="user_avatar" class="img-fluid"
                    src="{{ user.avatar_url() }}" style="max-width: 100%">
                
                <button type="button" class="btn btn-primary btn-lg btn-block" style="border-top-left-radius: 0; border-top-right-radius: 0;">Upload</button>
            </div>
            <div class="col-8">
                <h2>
                    {{ user.name }}  {{ user.surname }}<br>
                    <small class="text-muted h6">
                        Last seen: 
                        {% if user.last_seen %}
                            {{ user.last_seen }}
                        {% else %}
                            -
                        {% endif %}
                    </small>
                </h2><br>
                <strong>Male: </strong>{{ user.sex }}<br>
                <strong>Age: </strong>{{ user.age }}<br>
                <strong>City: </strong>{{ user.city }}<br>
                <strong>E-mail: </strong>{{ user.email }}<br><br>
                {% if user.login == current_user.login %}
                    <a class="btn btn-primary" href="{{ url_for('edit_profile') }}" role="button">Edit profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
