{% extends 'base.html' %}

{% block content %}
<div class="containter row justify-content-center mt-5">
        <div class="col-8 row">
            <div class="col-4">
                <img class="img-fluid img-thumbnail"
                    src="{{ url_for('static', filename='avatars/' + user.login + '.jpg') }}" style="max-height: 300px">
            </div>
            <div class="col-8">
                <h2>{{ user.name }}  {{ user.surname }}</h2><br>
                <strong>Пол: </strong>{{ user.sex }}<br>
                <strong>Возраст: </strong>{{ user.age }}<br>
                <strong>Город: </strong>{{ user.city }}<br>
                <strong>E-mail: </strong>{{ user.email }}<br>
            </div>
        </div>
</div>
{% endblock %}
